.wrapper {
    width: 90%;
    height: 80%;
    display: flex;
    margin: 2rem;
}

.card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    padding: 5rem;

}

.card>header{
    height: 50%;
    display: flex;
    margin-bottom: 2rem;
}

.card header div {
    width: 50%;
}

.card header .about {
    color: var(--very-dark-magenta);
}

.card header .about>h1 {
   padding: 0 15rem 1rem 0;
   
}

.card header .about>p {
    padding: 0 6rem 0 0;
 }



.card header .rate div {
    display: flex;
    width: fit-content;
    margin: 0 0 1rem;
    padding: 0.5rem;
    color: var(--very-dark-magenta);
    font-weight: 800;
    background: var(--light-grayish-magenta);
    border-radius: 5px;
    align-items: center;
    
}


.card header .rate div>picture {
    margin-left: 1rem;
    
}

.card header .rate p {
    margin-left: 1rem;
    margin-right: 1rem;
}

.card header .rate> .reviews {
    margin-left: 1rem;
}



.card header .rate>.report-guru {
    margin-left: 2rem;

}

.card header .rate>.besttech {
    margin-left: 4rem;
   
}


.card>footer {
    height: 50%;
    display: flex;
    justify-content: space-around;
    
}

.feedback1, .feedback2, .feedback3 {
    width: fit-content;
    background: var(--very-dark-magenta);
    margin: 0 2rem;
    border-radius: 10px;
    padding: 1rem 1rem 2rem;
    color: var(--white);
   
}



.feedback1 {
   margin-top: 1rem;
   margin-bottom: 3rem;
}

.feedback2 {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.feedback3 {
    margin-top: 3.5rem;
    margin-bottom: 1rem;
}

.user-section {
    display: flex;
    margin: 1rem;
    justify-content: flex-start;
}

.user-section>img {
    border-radius: 50%;
    width: 20%;
    height: auto;
    margin-right: 1rem;
}


.verified {
    color: var(--soft-pink);
}

