@media (max-width: 502px) {
    .card {
        padding: 0.5rem;
    }

    .card header .about h1 {
        text-align: center;
        padding: 0 0.5rem;
        margin: 0 0 1rem;
    
    }

    .card header .about p {
        text-align: center;
        padding: 0;
        margin-bottom: 1rem;
        line-height: 1.2rem;
    }

    .card header .rate  {
        align-items: center;
    }

    .card header .rate div {
        width: 100%;
        margin-left: 0;
        flex-direction: column;
    }

    .card header .rate> .reviews {
        margin-left: 0;
    }
    
    
    
    .card header .rate>.report-guru {
        margin-left: 0;
    
    }
    
    .card header .rate>.besttech {
        margin-left: 0;
       
    }

    .card header .rate div>picture {
        margin-bottom: 0.5rem;
        
    }

    .feedback1, .feedback2, .feedback3 {
        width: 100%;
        margin: 0;
        line-height: 1.2rem;
    }

    .feedback1 {
        margin-top: 0;
        margin-bottom: 0.5rem;
     }
     
     .feedback2 {
         margin-top: 0;
         margin-bottom: 0.5rem;
     }
     
     .feedback3 {
         margin-top: 0;
         margin-bottom: 0.5rem;
     }
    
}


@media (max-width: 680px){

    body {
        overflow: scroll;
    }

    header {
        flex-direction: column;
    }

    .card header div {
        width: 100%;
        height: auto;
        padding: 0.5rem;
    }

    .card header .about {
        text-align: center;
    }
    .card header .about h1 {
        padding: 0 0 0 0;
        margin: 0 0 1rem;
    }

    .card header .about p {
        padding: 0;
    }

    footer {
        flex-direction: column;
    }

 

    .card header .rate> .reviews {
        margin-left: 0;
    }
    
    
    
    .card header .rate>.report-guru {
        margin-left: 0;
    
    }
    
    .card header .rate>.besttech {
        margin-left: 0;
       
    }

    .card header .rate div>picture {
        margin-bottom: 0.5rem;
    }

}

@media ( max-width: 1001px) {

 .card header .about>h1 {
    /* padding: 0 15rem 1rem 0; */
    margin: 0 0 1rem;
}
    
.user-section {
    margin: 0;
}

.user-section img {
    margin: 1rem 0.5rem;
    }

.user-section .tag {
    margin: 1rem 0.5rem;
}
}

@media (min-width: 1440px) {
    
}
